.chat-window {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background-color: #202329;
  border-left: 2px solid #fff;

  &.show-chatWindow {
    display: flex;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    .header-name {
      display: flex;
      align-items: center;

      #back-arrow {
        display: none;
      }

      h1 {
        font-size: 30px;
        margin-left: 1em;
      }
    }

    .header-options {
      display: flex;
      gap: 2em;
      margin-right: 1em;
    }
  }

  .initial-chatwindow {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 3em;
      letter-spacing: 4px;
      margin-top: 6em;

      span {
        padding: 8px;
        border-radius: 15px;
        background-color: #a1a1a1;
        color: #000;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .chat-window {
    display: none;
    width: 100vw;
    border: none;

    .header {
      .header-name {
        #back-arrow {
          display: block;
        }
        h1 {
          font-size: 27px;
        }
      }
      .header-options {
        margin: 0;
      }
    }
  }
}
