body {
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    height: 35em;
    width: 35em;
    background-color: #2e333d;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        color: #fff;
        font-size: 2.6em;
        margin-right: 10px;
      }

      div {
        width: 25px;
        height: 4px;
        background: #fff;
        border: 1px solid #6b8afd;
        border-radius: 5px;
        box-shadow: 0 4px 4px #00000040;
      }
    }

    .login-input {
      display: flex;
      flex-direction: column;

      .password-input {
        display: flex;

        .hover-box {
          position: relative;

          .question-button {
            color: #fff;
            margin: 3em 0 0 1em;
            cursor: pointer;
          }

          .tool-tip {
            display: flex;
            position: absolute;
            top: 100%;
            left: 50%;
            padding: 15px 20px;
            margin: 1em 0 0 3em;
            line-height: 20px;
            letter-spacing: 1px;
            font-size: 12px;
            width: 170px;
            transform: translateX(-50%);
            background-color: #373c4682;
            color: #fff;
            border-radius: 1em;
          }
        }
      }

      input {
        padding: 1em;
        width: 17em;
        background: transparent;
        color: #fff;
        font-size: 15px;
        border: 1px solid #5a5757;
        border-radius: 18px;
        margin-top: 2em;
        outline: none;
      }
      input:focus {
        border: 1px solid #fff;
      }

      span {
        color: #f83838;
        margin: 0.5em 0 0 0.5em;
        font-size: 15px;
      }
        .tool-tip {
          display: none;
      }
    }

    .login-controls {
      width: 17em;
      display: flex;
      margin-top: 2em;
      justify-content: space-between;

      button {
        padding: 10px 20px;
        background-color: #214ff5;
        outline: none;
        border: none;
        font-weight: 600;
        border-radius: 20px;
        color: #fff;
        cursor: pointer;
      }

      button:hover {
        background-color: #1039cd;
      }

      p {
        color: #fff;
        cursor: pointer;
        margin: 10px 4em 0 0;
      }

      p:hover {
        border-bottom: 1px solid #6b8afd;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e333d;

    .container {
      width: max-content;

      .login-header {
        h2 {
          font-size: 2.3em;
        }
      }

      .login-input {
        .password-input{
          .hover-box{
            .tool-tip {
              display: none;
            }
          }
        }
        .tool-tip {
          display: flex;
          margin: 1.5em 0 0 0;
          padding: 15px 20px;
          line-height: 20px;
          letter-spacing: 1px;
          font-size: 12px;
          width: 270px;
          background-color: #373c4682;
          color: #fff;
          border-radius: 1em;
        }
      }
    }
  }
}
