.sidebar {
  background-color: #202329;

  .sidebar-icons {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    cursor: pointer;
  }

  .sidebar-info {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.3em;

    img {
      border-radius: 50%;
      width: 90px;
    }

    p {
      font-size: 1em;
    }
  }
}